.app {
  width: 100vw;
  height: 100vh;
  background: #f5f5f5;
  flex-direction: column;
}
.heading {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
}


.container {
  width: 500px;
  min-height: 300px;
  padding: 10px;
}

.table-header {
  background-color: #4f4c4c4d;
}

.table-row-odd {
  background-color: #97909030;
}
